<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oscarxiii.multimediaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MultiAPP"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addNotasActivity"
            android:label="@string/title_activity_notas"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
        <activity
            android:name=".verNotasActivity"
            android:label="@string/title_activity_ver_notas"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
        <activity
            android:name=".verFoto"
            android:label="@string/title_activity_hacer_foto"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
        <activity
            android:name=".verVideo"
            android:label="@string/title_activity_ver_video"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
        <activity
            android:name=".Grabadora"
            android:label="@string/title_activity_grabadora"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
        <activity
            android:name=".Mapa"
            android:label="@string/title_activity_mapa"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MultiAPP"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="oscarxiii.multimediaapp.MultiAPP" />
        </activity>
    </application>

</manifest>
